div.row.paper-editor__picker
	div.col-md-3
		h5 选择题
		div.paper-editor__picker__group
			a.paper-editor__picker__group__item(href='#')
				span.glyphicon.glyphicon-star(aria-hidden="true")
				&nbsp;单选题
			a.paper-editor__picker__group__item(href='#')
				span.glyphicon.glyphicon-star(aria-hidden="true")
				&nbsp;多选题
			a.paper-editor__picker__group__item(href='#')
				span.glyphicon.glyphicon-star(aria-hidden="true")
				&nbsp;下拉选择
	div.col-md-3
		h5 填空题
		div.paper-editor__picker__group
			a.paper-editor__picker__group__item(href='#')
				span.glyphicon.glyphicon-star(aria-hidden="true")
				&nbsp;单行
			a.paper-editor__picker__group__item(href='#')
				span.glyphicon.glyphicon-star(aria-hidden="true")
				&nbsp;多行
	div.col-md-3
		h5 文件
		div.paper-editor__picker__group
			a.paper-editor__picker__group__item(href='#')
				span.glyphicon.glyphicon-star(aria-hidden="true")
				&nbsp;单个文件
			a.paper-editor__picker__group__item(href='#')
				span.glyphicon.glyphicon-star(aria-hidden="true")
				&nbsp;多个文件上传
	div.col-md-3
		h5 其他
		div.paper-editor__picker__group
			a.paper-editor__picker__group__item(href='#')
				span.glyphicon.glyphicon-star(aria-hidden="true")
				&nbsp;日期
			a.paper-editor__picker__group__item(href='#')
				span.glyphicon.glyphicon-star(aria-hidden="true")
				&nbsp;评分