doctype html
html
	head
		meta(charset="UTF-8")
		title UI
		//build:css(.) styles/vendor.css
		//bower:css
		link(href="bower_components/bootstrap/dist/css/bootstrap.css", rel="stylesheet")
		//endbower
		//endbuild
		link(href="styles/main.css", rel="stylesheet")
	body
		div.container
			div.col-md-8.paper-editor
				div.paper-editor__question
				div.paper-editor__question
				div.paper-editor__question
			div.col-md-4.right-aside
				div#quetion-setting 
		script(src="bower_components/jquery/dist/jquery.js")
